body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#unique_id {
    color: darkblue;
    text-align: left;
    font-family: verdana;
    font-size: 28px;
    margin-top: 50px;
    margin-left: 100px;
}

.picture {
    padding-top: 20px;
    text-align: center;
}

#div43 {
    text-align: right;
    padding-top: 50px;

}
